.welcome,
.login-home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.global-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
