.app-header-layout {
  min-height: 100dvh;
  color: var(--c--contextuals--content--semantic--neutral--primary);
  font-family: Marianne, sans-serif;

  .c__main-layout__header {
    z-index: 2;
    width: 100vw;
  }

  .c__header {
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    padding: var(--c--globals--spacings--base);
    border-bottom: 0;
    background: transparent;
  }

  .c__header__toggle-menu {
    display: none;
  }

  .c__main-layout__content {
    margin-top: 56px;
  }

  .c__main-layout__content__center__children {
    height: calc(100dvh - 56px);
    overflow-y: auto;
    background: transparent;
  }
}
