@use "@gouvfr-lasuite/ui-kit/sass/fonts";
@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./../pages/index.scss" as *;
@use "./../components/Logo/LaSuiteLogo.scss" as *;
@use "./../components/Layout/AppHeaderLayout.scss" as *;
@use "./../components/AppFooter/AppFooter.scss" as *;
@use "./../components/AppHelpMenu/AppHelpMenu.scss" as *;
@use "./../pages/login/index.scss" as *;
@use "./../pages/logout/index.scss" as *;
@use "./../features/account/AccountPage.scss" as *;

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}


.c__field__footer {
  padding-left: 0;
}

.c__input__label {
  color: var(--c--contextuals--content--semantic--neutral--primary);
}

.c__input__wrapper.c__input__wrapper--disabled {
  background: var(--c--contextuals--background--semantic--disabled--secondary);
  color: var(--c--contextuals--content--semantic--disabled--primary);
}

.c__dropdown-menu-trigger {
  border: 1px solid var(--c--contextuals--border--surface--primary);
  border-radius: 4px;
  .c__language-picker__label {
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }
}

